<p>Number of Coupons: <%= @coupon_count %>/5</p>
<% unless @coupon_count >= 5 %>
  <%= link_to "Create Coupon", new_dashboard_coupon_path %>
<% end %>

<% if @coupons.count > 0 %>
  <% @coupons.each do |coupon| %>
    <section id="coupon-<%= coupon.id %>">
      <p>Code: <%= coupon.name %></p>
      <p>Type: <%= coupon.discount_type %></p>
      <p>Amount Off: <%= coupon.amount_off %></p>
      <% if coupon.enabled? %>
        <%= button_to "Disable", dashboard_disable_coupon_path(coupon), method: :patch %>
      <% else %>
        <%= button_to "Enable", dashboard_enable_coupon_path(coupon), method: :patch %>
      <% end %>
      <% unless coupon.used? %>
        <%= button_to "Delete Coupon", dashboard_delete_coupon_path(coupon), method: :delete %>
      <% end %>
    </section>
  <% end %>
<% else %>
  <p>You have no coupons, create one now!</p>
<% end %>
