<p>Number of Coupons: <%= @coupon_count %>/5</p>
<% unless @coupon_count >= 5 %>
  <%= link_to "Create Coupon", new_dashboard_coupon_path %>
<% end %>

<% if @coupons.count > 0 %>
  <% @coupons.each do |coupon| %>
    <section id="coupon-<%= coupon.id %>">
      <p>Code: <%= coupon.name %></p>
      <p>Type: <%= coupon.discount_type %></p>
      <p>Amount Off: <%= coupon.amount_off %></p>
    </section>
  <% end %>
<% else %>
  <p>You have no coupons, create one now!</p>
<% end %>
